title: "thoughts about things"
author: "chris stenson"
description: "human living in the pacific northwest"

# Jekyll settings
permalink: /:categories/:year/:month/:day/:title/          # see https://jekyllrb.com/docs/permalinks/
paginate: 10000              # number of articles per page, remove to disable pagination
excerpt_separator: "\n\n\n"  # indicates the end of the excerpt by two blank lines

# Theme settings
show_excerpts: true          # show article previews on the home page instead of headlines
date_format: "%B %d, %Y"     # see http://shopify.github.io/liquid/filters/date/
dark_theme: false            # enables dark mode
minimal_theme: false         # radically minimalistic theme

navigation:                  # show navigation links in the header
  - index.html
  - archive.md
  - about.md

icons:                       # show icons in the header, for all possible icons see http://fontawesome.io/icons/
  github: "https://github.com/christopherstenson"
  twitter: "https://twitter.com/SerebroRaya"

comments:                    # embed disqus or isso comments
#  disqus: ""
#  isso: ""

plugins: 
 - jekyll-feed
 - jekyll-paginate
 - jekyll-default-layout

collections:
  photos:
  art: