---
layout: page
title: "categories"
---
<ul>
    <li><a href="/art" title="art" >Art</a></li>
    <li><a href="/photos" title="photos" >Photos</a></li>
{% for category in site.category %}
  <li><a href="/{{ category.title | downcase  }}" title="{{ category.title }}" >{{ category.title }}</a>
    <ul>
      {% for post in site.posts %}
      {% if post.category == category.title %}
      <li><a href="/{{ post.title | downcase }}" title="{{ post.title }}" >{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>